<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Proyecto de comandas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="libs/bootstrap3/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos.css">
  </head>
  <body ng-app="app">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="inicio.html">Inicio</a></li>
          <li class="active"><a href="#">Nuevo Pedido</a></li>
          <li><a href="detalle-comanda.html">Comandas</a></li>
        </ul>
      </div>
    </nav>
    <main class="container" ng-controller="comandaController">
      <div class="alert alert-{{clase}} alert-dismissible fade in" ng-if="mostrarAlerta">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{mensaje}}
      </div>
      <div class="row">
        <section class="col-md-6 fixed-panel" id="productos">
          <div class="panel panel-default">
            <header class="panel-heading">
              <h3>Productos</h3>
            </header>
            <section class="panel-body">
              <table class="table table-hover">
                <tr ng-repeat="p in productos">
                  <td><span class="item">{{p.nombre}}</span></td>
                  <td class="item-btn">
                    <button class="btn btn-primary" ng-click="agregar($index)">
                      <span class="glyphicon glyphicon-plus">Agregar</span>
                    </button>
                  </td>
                </tr>
              </table>
            </section>
          </div>
        </section>
        <section class="col-md-6 fixed-panel" id="pedido">
          <div class="panel panel-default">
            <header class="panel-heading">
              <h3>Pedido</h3>
            </header>
            <section class="panel-body">
              <table class="table table-hover">
                <tr ng-repeat="s in seleccionados">
                  <td><span class="item">{{s.cantidad}}</span></td>
                  <td><span class="item">{{s.producto.nombre}}</span></td>
                </tr>
              </table>
            </section>
            <footer class="panel-footer">
              <button type="button" class="btn btn-success" ng-click="guardar()">
                <span class="glyphicon glyphicon-floppy-saved"> Guardar</span>
              </button>
              <button type="button" class="btn btn-danger" ng-click="cancelar()">
                <span class="glyphicon glyphicon-remove"> Cancelar</span>
              </button>
            </footer>
          </div>
        </section>
      </div>
    </main>
    <script src="libs/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="libs/bootstrap3/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="libs/angularjs/angularjs.min.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
  </body>
</html>
