<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="libs/bootstrap3/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos.css">
  </head>
  <body ng-app="app">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="inicio.html">Inicio</a></li>
          <li><a href="comanda.html">Nuevo Pedido</a></li>
          <li class="active"><a href="#">Comandas</a></li>
        </ul>
      </div>
    </nav>
    <div class="container" ng-controller="detalleComandaController">
      <div class="alert alert-danger alert-dismissible fade in" ng-if="mostrarAlerta">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span class="glyphicon glyphicon-remove"></span> {{mensaje}}
      </div>
      <div class="row">
        <div class="col-md-4" ng-repeat="c in comandas" ng-style="verComanda(c.estado)">
          <div class="panel panel-{{obtenerClase(c.estado)}}">
            <header class="panel-heading">
              <button type="button" name="button" class="btn btn-{{obtenerClase(c.estado)}}" ng-click="actualizarEstado($index)">
                Actualizar estado
              </button>
              <span>{{c.estado}}</span>
            </header>
            <section class="panel-body card-panel">
              <ul ng-repeat="p in c.productos">
                <li>
                  <p>
                    <strong>Producto:</strong> {{p.producto.nombre}}
                  </p>
                  <p>
                    <strong>Cantidad</strong> {{p.cantidad}}
                  </p>
                </li>
              </ul>
              <p>Fecha y hora: {{c.fechaYHora}}</p>
            </section>
          </div>
        </div>
      </div>
    </main>
    <script src="libs/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="libs/bootstrap3/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="libs/angularjs/angularjs.min.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
  </body>
</html>
