body{
  font-size: 16px;
}

#productos{
  color: red;
}

#productos .panel, #productos .panel-heading,
#productos .panel-body {
  background-color: #000;
}

#productos .panel-heading{
  color: #fff;
}

.item{
  font-size: 20px;
}

.item-btn{
  text-align: end;
}

.fixed-panel {
  height: 300px;
  overflow-y: scroll;
  padding: 0;
}

.fixed-panel > .panel {
  min-height: 300px;
  margin-bottom: 0;
}

.fixed-panel > .panel > .panel-body{
  min-height: 165px;
  margin-bottom: 0;
}

.card-panel{
  height: 200px;
  overflow-y: scroll;
}
